/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.nav>li>a{
    color: silver;
}

.scienceImg {
    background-image: url('../img/starLogo.jpg');
    height: 300px;
    width: 100%;
    position: relative;
    margin: 0px auto;
    background-color: #AAA;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: repeat;
}

#scienceText {
    color: white;
font-family: 'serif';
font-weight: 300;
text-transform: uppercase;
padding-top: 115px;
font-size: 50px;
letter-spacing: 7px;
text-shadow: 0 0 10px white;
text-align: center;
-webkit-text-stroke: 1px #FFF;
}

.scienceNav {
    background-color: rgba(242,242,242,0.85);
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

.scienceNav ul {
    text-align: justify;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 15px 0px 5px 
}

.scienceNav li {
    float: left;
    width: 15%;       
    margin: 6px 0 0 12px;
    padding: 3px 3px;   
    display: inline-block;
}   

.scienceNav li a {
    display: inline-block;
    text-align: center;
    margin: 0 6px 0 0;
    padding: 0 20px;
    text-decoration: none;
    background-color: transparent;
    color: black;
}
.activeScienceNav {
    font-weight: 700;
}
.scienceContent {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 50%;
}
.scienceHead {
    text-align: center;
    font-weight: 200;
    margin-bottom: 40px;
}
.black-staff {  
background: #000;
position: absolute;
left: 0;
height: 226px;
width: 43%;
}
.subjectText {
    position: relative;
    margin-top: 5%;  
    text-align: center;
}
.subjectText a h2:hover {
    font-weight: 800;
}
.centered 
{
    display: inline-block;
    text-align: center;
}
.teacherImage {
    width: 290px;
    height: 230px;
}
.staff {
    background-color: black;
    color: white;
}
.teacher-name {
    color: #333;
    font-size: 25px;
}
.close-expanded-content {
   padding-bottom: 20px;
}

.open-expanded-content {
   padding-bottom: 20px;
}
.section-spacer {
    margin: 25px 25px;
}
.scienceSection {
    color: white;   
    position: relative;
    text-align: center;
    height: 200px;
}
.scienceStaffSection {
    background-color: black;
}
.scienceSectionText  {
    margin-top: 57px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.staff:hover {
    font-weight: 800;
}
.scienceSectionText:hover {
    font-weight: 800;
}
.scienceCoursesSection{
    background-color: #999999
}
.scienceStudentSection{
    background-color: #B0C4DE
}
.bio {
    margin-left: 1px;
}

a:link {text-decoration: none; color:white;} //the original link with no underline
a:visited {text-decoration: none;} //the visited link with no underline
a:hover {text-decoration: none; font-weight: 800; } //mouseover link and an underline appears
