/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2015, 12:35:17 AM
    Author     : Andrew
*/

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }



body {-webkit-font-smoothing: antialiased; font-family: "ff-din-web", sans-serif;}
p {font-family:"garamond-premier-pro"; font-size:18px;}
body {    
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    height: 100%;
}
* {
  font-family: 'Raleway', Calibri, Arial, sans-serif;
}
h1 {
  font-weight: 700;
  margin: 0;
  margin-top: 27px;
}
li {
  margin-bottom: 13.5px;
}

//nav code
ul.nav.nav-pills {
  color: white;
}
ul.nav.nav-pills li:hover {
  background-color: blue;
}
.nav>li>a:hover {
  text-decoration: none;
  background-color: #337ab7;
}
.nav>li>a:hover {
  text-decoration: none;
  background-color: #337ab7;
}
.nav .open>a, .nav .open>a:hover {
  background-color: #337ab7;
}
ul.nav.nav-pills {
  color: white;
}
ul.nav.nav-pills li:hover {
  background-color: blue;
}
.open-expanded-content {
  color: #1919FF !important;
}
.close-expanded-content {
  color: #1919FF !important;
}
a:link {text-decoration: none; color:white;} //the original link with no underline
a:visited {text-decoration: none;} //the visited link with no underline
a:hover {text-decoration: none; font-weight: 800; } //mouseover link and an underline appears
//changes the nav bars. Second one has to be there twice to work?.

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #337ab7;
}

a,a:visited{color:inherit;text-decoration:none;cursor:pointer;outline:none;-webkit-transition:color 0.2s ease-out;-moz-transition:color 0.2s ease-out;-ms-transition:color 0.2s ease-out;-o-transition:color 0.2s ease-out;transition:color 0.2s ease-out;}
